.cards{
    margin: 40px;
    width: 95%;
    display:inline-flex;
    flex-wrap: wrap;
}
.card{
    margin:10px;
    background: #fbfbfe;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 40px;
    width: 250px;
    height: 515px;
}
.img{
    margin-left: 75px;
    margin-bottom: 4px;
    height: 300px;
}
.btn{
    color: white;
    height: fit-content;
    padding: 6px 14px 6px 14px;
    background-color: #da2f33;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}
.heart{
    color: red;
    border: none;
    background-color: #fbfbfe;
}
h3{
    margin: 12px 0 0 0;
}