.header1{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: white;

}
.photos{
    z-index: 2;
    position: absolute;
    inset: 0px;
    text-align: center;
    padding: 10%;
    color: rgb(223, 221, 221);  
}
.word{
    z-index: 2;
    position: absolute;
    inset: 0px;
    text-align: center;
    padding: 15%;
    color: rgb(233, 231, 231);
}
.word2{
    font-family: "italic", "Helvetica Neue", Helvetica, sans-serif;
    z-index: 3;
    color: black;
    text-align: center;
}
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  a:hover {
    background-color: #d6d4d4; /* Измененный цвет фона при наведении */
  }
  .backk {
    background-color: #d9534f; /* Цвет фона кнопки "Return back" */
    color: #fff; /* Цвет текста */
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  .backk:hover {
    background-color: #c9302c; /* Измененный цвет фона при наведении */
  }