<div class="header">
    <div class="header1">
        <img src="/assets/pictures/sydney.jpg" alt="Your Image Alt Text" height="600px" width="1380px">
        <h1 class="photos">PHOTOS</h1>
        <h3 class="word">Founded in 2024, the company is a one-stop platform that contains all the content, inspiration and solutions you need to design faster, easier and better.</h3>
        <h1 class="word2">About</h1>
    </div>    
        <div class="About">
            <div class="About1">
                <div class="goal">
                    <h2 class="maingoal">
                        Our main goal is to simplify and improve your creative path
                    </h2>
                    <p class="help">
                        We help everyone—including designers, small business owners, educators, and content creators—discover innovative content and master the products and tools to turn ideas into exceptional projects.
                    </p>
                 </div>
                <div class="picture">
                    <img src="/assets/pictures/goal.jpg" alt="hey" height="280px" width="280px">
                </div>
            </div>
        </div>
    

</div>
